<div class="container my-5">
    <div class="row">
      <div class="col-md-12 mb-5">
        <form (submit)="onAddContact()">
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-10">
              <input [(ngModel)]="newContact.name" name="name" type="text" class="form-control" placeholder="Name...">
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Surname:</label>
            <div class="col-sm-10">
              <input [(ngModel)]="newContact.surname" name="surname" type="text" class="form-control" placeholder="Surname...">
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Phone:</label>
            <div class="col-sm-10">
              <input [(ngModel)]="newContact.phone" name="phone" type="tel" class="form-control" placeholder="Phone...">
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Photo url:</label>
            <div class="col-sm-10">
              <input [(ngModel)]="newContact.photoUrl" name="photo" type="text" class="form-control" placeholder="Photo url...">
            </div>
          </div>
          <button class="btn btn-primary w-100">Add</button>
        </form>
      </div>
      <div class="col-md-6">
        <div class="card" *ngIf="contactList.length != 0">
          <ul class="list-group list-group-flush contacts">
            <li [class.active]="selectedContact == contact" (click)="onContactClick(contact)"
              *ngFor="let contact of contactList" class="list-group-item">
              {{contact.name}} {{contact.surname}}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" *ngIf="selectedContact">
          <img [src]="selectedContact.photoUrl" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title contact-title">
              <span>{{selectedContact.name}} {{selectedContact.surname}}</span>
              <i (click)="onFavoriteClick(selectedContact)" *ngIf="!selectedContact.isFavorite"
                class="far fa-star text-warning"></i>
              <i (click)="onFavoriteClick(selectedContact)" *ngIf="selectedContact.isFavorite"
                class="fas fa-star text-warning"></i>
            </h5>
            <a href="tel:{{selectedContact.phone}}" class="card-text phone-number"><i class="fas fa-phone"></i>
              {{selectedContact.phone}}</a>
            <a href="#" class="card-link text-danger">Delete</a>
            <a href="#" class="card-link">Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>