.contacts {
	li {
		cursor: pointer;
	}
}

.selected {
	background-color: black;
	color: white;
}

.phone-number {
	display: block;
	margin: 10px 0;
}

.contact-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	i {
		cursor: pointer;
		// color: blue;
	}
}