﻿@model ShopViewModel
@{
    ViewData["Title"] = "Shop";
}

<div class="shop-main-wrapper section-space">
    <div class="container">
        <div class="row">
            <!-- sidebar area start -->
            <div class="col-lg-3 order-2 order-lg-1">
                <aside class="sidebar-wrapper">
                    <!-- single sidebar start -->
                    <div class="sidebar-single">
                        <h3 class="sidebar-title">categories</h3>
                        <div class="sidebar-body">
                            <ul class="shop-categories">
                                <li><a href="#">fashionware <span>10</span></a></li>
                                <li><a href="#">kitchenware <span>5</span></a></li>
                                <li><a href="#">electronics <span>8</span></a></li>
                                <li><a href="#">accessories <span>4</span></a></li>
                                <li><a href="#">shoe <span>5</span></a></li>
                                <li><a href="#">toys <span>2</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- single sidebar end -->
                    <!-- single sidebar start -->
                    <div class="sidebar-single">
                        <h3 class="sidebar-title">price</h3>
                        <div class="sidebar-body">
                            <div class="price-range-wrap">
                                <div class="price-range" data-min="20" data-max="400"></div>
                                <div class="range-slider">
                                    <form action="#" class="d-flex align-items-center justify-content-between">
                                        <div class="price-input">
                                            <label for="amount">Price: </label>
                                            <input type="text" id="amount">
                                        </div>
                                        <button class="filter-btn">filter</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single sidebar end -->
                    <!-- single sidebar start -->
                    <div class="sidebar-single">
                        <h3 class="sidebar-title">brand</h3>
                        <div class="sidebar-body">
                            <ul class="checkbox-container categories-list">
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">Studio (3)</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                                        <label class="custom-control-label" for="customCheck3">Hastech (4)</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck4">
                                        <label class="custom-control-label" for="customCheck4">Quickiin (15)</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Graphic corner (10)</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck5">
                                        <label class="custom-control-label" for="customCheck5">devItems (12)</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- single sidebar end -->
                    <!-- single sidebar start -->
                    <div class="sidebar-single">
                        <h3 class="sidebar-title">color</h3>
                        <div class="sidebar-body">
                            <ul class="checkbox-container categories-list">
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck12">
                                        <label class="custom-control-label" for="customCheck12">black (20)</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck13">
                                        <label class="custom-control-label" for="customCheck13">red (6)</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck14">
                                        <label class="custom-control-label" for="customCheck14">blue (8)</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck11">
                                        <label class="custom-control-label" for="customCheck11">green (5)</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck15">
                                        <label class="custom-control-label" for="customCheck15">pink (4)</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- single sidebar end -->
                    <!-- single sidebar start -->
                    <div class="sidebar-single">
                        <h3 class="sidebar-title">size</h3>
                        <div class="sidebar-body">
                            <ul class="checkbox-container categories-list">
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck111">
                                        <label class="custom-control-label" for="customCheck111">S (4)</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck222">
                                        <label class="custom-control-label" for="customCheck222">M (5)</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck333">
                                        <label class="custom-control-label" for="customCheck333">L (7)</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck444">
                                        <label class="custom-control-label" for="customCheck444">XL (3)</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- single sidebar end -->
                    <!-- single sidebar start -->
                    <div class="sidebar-banner">
                        <div class="img-container">
                            <a href="#">
                                <img src="~/main/assets/img/banner/sidebar-banner.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- single sidebar end -->
                </aside>
            </div>
            <!-- sidebar area end -->
            <!-- shop main wrapper start -->
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="shop-product-wrapper">
                    <!-- shop product top wrap start -->
                    <div class="shop-top-bar">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-6 order-2 order-md-1">
                                <div class="top-bar-left">
                                    <div class="product-view-mode">
                                        <a class="active" href="#" data-target="grid-view"><i class="fa fa-th"></i></a>
                                        <a href="#" data-target="list-view"><i class="fa fa-list"></i></a>
                                    </div>
                                    <div class="product-amount">
                                        <p>Showing 1–16 of 21 results</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6 order-1 order-md-2">
                                <div class="top-bar-right">
                                    <div class="product-short">
                                        <p>Sort By : </p>
                                        <select class="nice-select" name="sortby">
                                            <option value="trending">Relevance</option>
                                            <option value="sales">Name (A - Z)</option>
                                            <option value="sales">Name (Z - A)</option>
                                            <option value="rating">Price (Low &gt; High)</option>
                                            <option value="date">Rating (Lowest)</option>
                                            <option value="price-asc">Model (A - Z)</option>
                                            <option value="price-asc">Model (Z - A)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- shop product top wrap start -->
                    <!-- product item list wrapper start -->
                    <div class="shop-product-wrap grid-view row mbn-30">
                        @foreach (var item in Model.Products)
                        {

                            <!-- product single item start -->
                            <div class="col-md-4 col-sm-6">
                                <!-- product grid start -->
                                <div class="product-item">
                                    <figure class="product-thumb">
                                        <a href="product-details.html">
                                            <img class="pri-img" src="@item.Image" style="height: 200px; object-fit: cover" alt="product">
                                            <img class="sec-img" src="@item.Image" style="height: 200px; object-fit: cover" alt="product">
                                        </a>
                                        <div class="product-badge">
                                            @if (item.New)
                                            {
                                                <div class="product-label new">
                                                    <span>new</span>
                                                </div>
                                            }
                                            <div class="product-label discount">
                                                <span>@item.Discount%</span>
                                            </div>
                                        </div>
                                        <div class="button-group">
                                            <a href="wishlist.html" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="lnr lnr-heart"></i></a>
                                            <a href="compare.html" data-toggle="tooltip" data-placement="left" title="Add to Compare"><i class="lnr lnr-sync"></i></a>
                                            <a href="#" data-toggle="modal" data-target="#quick_view"><span data-toggle="tooltip" data-placement="left" title="Quick View"><i class="lnr lnr-magnifier"></i></span></a>
                                        </div>
                                        <div class="box-cart">
                                            <a asp-controller="Shop" asp-action="AddToCart" asp-route-id="@item.Id" class="btn btn-cart">add to cart</a>
                                        </div>
                                    </figure>
                                    <div class="product-caption">
                                        <div class="product-identity">
                                            <p class="manufacturer-name"><a href="product-details.html">@item.Name</a></p>
                                        </div>
                                        <p class="product-name">
                                            <a href="product-details.html">@item.Description</a>
                                        </p>
                                        <div class="price-box">
                                            <span class="price-regular">$@(item.Price - item.Price / 100.0 * item.Discount) </span>
                                            <span class="price-old"><del>$@item.Price</del></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- product grid end -->
                                <!-- product list item end -->
                                <div class="product-list-item">
                                    <figure class="product-thumb">
                                        <a href="product-details.html">
                                            <img class="pri-img" src="@item.Image" style="height: 200px; object-fit: cover" alt="product">
                                            <img class="sec-img" src="@item.Image" style="height: 200px; object-fit: cover" alt="product">
                                        </a>
                                        <div class="product-badge">
                                            @if (item.New)
                                            {
                                                <div class="product-label new">
                                                    <span>new</span>
                                                </div>
                                            }
                                            <div class="product-label discount">
                                                <span>@item.Discount%</span>
                                            </div>
                                        </div>
                                        <div class="button-group">
                                            <a href="wishlist.html" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="lnr lnr-heart"></i></a>
                                            <a href="compare.html" data-toggle="tooltip" data-placement="left" title="Add to Compare"><i class="lnr lnr-sync"></i></a>
                                            <a href="#" data-toggle="modal" data-target="#quick_view"><span data-toggle="tooltip" data-placement="left" title="Quick View"><i class="lnr lnr-magnifier"></i></span></a>
                                        </div>
                                        <div class="box-cart">
                                            <button type="button" class="btn btn-cart">add to cart</button>
                                        </div>
                                    </figure>
                                    <div class="product-content-list">

                                        <h5 class="product-name"><a href="product-details.html">@item.Name</a></h5>
                                        <div class="price-box">
                                            <span class="price-regular">$@(item.Price - item.Price / 100.0 * item.Discount) </span>
                                            <span class="price-old"><del>$@item.Price</del></span>
                                        </div>
                                        <p>
                                            @item.Description
                                        </p>
                                    </div>
                                </div>
                                <!-- product list item end -->
                            </div>
                            <!-- product single item start -->

                        }
                    </div>

                    <!-- product item list wrapper end -->
                    <!-- start pagination area -->
                    <div class="paginatoin-area text-center">
                        <ul class="pagination-box">
                            <li><a class="previous" href="#"><i class="lnr lnr-chevron-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a class="next" href="#"><i class="lnr lnr-chevron-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- end pagination area -->
                </div>
            </div>
            <!-- shop main wrapper end -->
        </div>
    </div>
</div>



<!-- offcanvas mini cart start -->
<div class="offcanvas-minicart-wrapper">
    <div class="minicart-inner">
        <div class="offcanvas-overlay"></div>
        <div class="minicart-inner-content">
            <div class="minicart-close">
                <i class="lnr lnr-cross"></i>
            </div>
            <div class="minicart-content-box">
                <div class="minicart-item-wrapper">
                    <ul>
                        @foreach (var item in Model.Cart)
                        {
                            <li class="minicart-item">
                                <div class="minicart-thumb">
                                    <a href="product-details.html">
                                        <img src="@item.Item.Image" alt="product">
                                    </a>
                                </div>
                                <div class="minicart-content">
                                    <h3 class="product-name">
                                        <a href="product-details.html">@item.Item.Name</a>
                                    </h3>
                                    <p>
                                        <span class="cart-quantity">@item.Quantity <strong>&times;</strong></span>
                                        <span class="cart-price">$@(item.Item.Price - item.Item.Price / 100.0 * item.Item.Discount)</span>
                                    </p>
                                </div>
                                <button class="minicart-remove"><i class="lnr lnr-cross"></i></button>
                            </li>
                        }
                    </ul>
                </div>

                <div class="minicart-pricing-box">
                    <ul>
                        <li>
                            <span>Without discount:</span>
                            <span><strong>$@ViewBag.OldPrice</strong></span>
                        </li>
                        <li class="total">
                            <span>total</span>
                            <span><strong>$@ViewBag.TotalPrice</strong></span>
                        </li>
                    </ul>
                </div>

                <div class="minicart-button">
                    <a href="cart.html"><i class="fa fa-shopping-cart"></i> view cart</a>
                    <a href="cart.html"><i class="fa fa-share"></i> checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- offcanvas mini cart end -->