<h1>Add new TV Show</h1>
<h5>{{errorMessage}}</h5>
<form (submit)="onSubmit()">
	<div class="form-group">
		<label for="tvTitle">Title</label>
		<input [(ngModel)]="newShow.title" [ngModelOptions]="{standalone: true}" required type="text" name="name" class="form-control" id="tvTitle" placeholder="Enter title">
	</div>
	<div class="form-group">
		<label for="tvSeason">Season</label>
		<input [(ngModel)]="newShow.season" [ngModelOptions]="{standalone: true}" required type="number" name="season" class="form-control" id="tvSeason" placeholder="Enter season">
	</div>
	<div class="form-group">
		<label for="tvEpisode">Episode</label>
		<input [(ngModel)]="newShow.episode" [ngModelOptions]="{standalone: true}" required type="number" name="episode" class="form-control" id="tvEpisode" placeholder="Enter episode">
	</div>
	<div class="form-group">
		<label for="tvRating">Rating</label>
		<input [(ngModel)]="newShow.rating" [ngModelOptions]="{standalone: true}" max="5" min="1" type="number" name="rating" class="form-control" id="tvRating"
			placeholder="Enter rating">
	</div>
	<div class="form-group form-check">
		<input [(ngModel)]="newShow.isDone" [ngModelOptions]="{standalone: true}" type="checkbox" class="form-check-input" id="tvIsDone">
		<label class="form-check-label" name="tvIsDone" for="isDone">Is done</label>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>