﻿
@{
    ViewData["Title"] = "Login";
}

    <div class="container">

        <h1>Login</h1>

        <form asp-action="LoginUser" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input name="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
