﻿<form method="post" action="/Home/AddTask">
    <div class="form-group">
        <label for="taskName">Task name: </label>
        <input name="Name" type="text" class="form-control" id="taskName" placeholder="Enter task name">
    </div>
    <div class="form-group">
        <label for="taskDesc">Task description: </label>
        <textarea name="Description" type="password" rows="5" class="form-control" id="taskDesc" placeholder="Enter task description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>