﻿@model List<ToDoItem>

<h1 class="text-success">Done: @ViewBag.Done</h1>
<h1 class="text-danger">Undone: @ViewBag.Undone</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <div class="card @(item.IsDone ? "done" : "undone")">
                <div class="card-body">
                    <img src="~/images/@item.Image" class="card-img-top" alt="@item.Name">
                    <h5 class="card-title"><a asp-action="Task" asp-route-id="@item.Id">@item.Name</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">@item.IsDone</h6>
                    <p class="card-text">@item.Description</p>
                    <a href="/Home/DeleteTask?id=@item.Id" class="card-link text-danger">Delete</a>
                    <a href="/Home/CheckTask?id=@item.Id" class="card-link text-success">Check</a>
                </div>
            </div>
        </div>
    }
</div>

<partial name="_Pagination" />
