﻿<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            @if (ViewBag.CurrentPage > 0)
            {
                <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage)">Previous</a>
            }
        </li>
        @for (int i = 1; i <= ViewBag.TotalPages + 1; i++)
        {
            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
        }
        <li class="page-item">
            @if (ViewBag.CurrentPage < ViewBag.TotalPages)
            {
                <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage + 2)">Next</a>
            }
        </li>
    </ul>
</nav>