#player {
  width: 100px;
  height: 100px;
  background-image: url(./player.png);
  background-size: 100%;
  position: absolute;
}

.food {
  width: 50px;
  height: 70px;
  background-image: url(./iska.png);
  background-size: 100%;
  background-position: center;
  display: inline-block;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}
/*# sourceMappingURL=style.css.map */