#player {
    width: 100px;
    height: 100px;
    background-image: url(./player.png);
    background-size: 100%;
    position: absolute;
    // transition: 0.3s;
}

.food {
    width: 50px;
    height: 70px;
    // background-color: green;
    background-image: url(./iska.png);
    background-size: 100%;
    background-position: center;
    display: inline-block;
    position: absolute;
    transition: 0.5s;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
}