<div class="container my-5">
  <h1>Movie search</h1>
  <div class="input-group mb-3">
    <input [(ngModel)]="movieName" type="text" class="form-control" placeholder="Movie name...">
    <div class="input-group-append">
      <button (click)="onSearch()" class="btn btn-outline-secondary" type="button">Search</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li 
          [class.active]="item == selectedMovie"
          (click)="onMovieSelect(item)" 
          *ngFor="let item of movieList" 
          class="list-group-item">
          {{item.Title}}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div class="card" *ngIf="selectedMovie">
        <img src="{{fullInfo.Poster}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{fullInfo.Title}}</h5>
          <p class="card-text">{{fullInfo.Plot}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
