/* 
    color
    background-color
    margin
    padding
    width
    height
    font-size
    text-decoration
    list-style
    border-radius
    border
    object-fit
    text-align
*/

body {
    margin: 0;
}

.container {
    width: 800px;
    background-color: whitesmoke;
    margin: auto;
}

.top {
    /* background-color: tomato; */
    /* border-bottom-style: solid;
    border-bottom-color: red;
    border-bottom-width: 5px;
    border-top-style: solid;
    border-top-color: green;
    border-top-width: 5px; */
    border-bottom: solid red 5px; 
}

ul {
    /* list-style-type: square; */
    list-style-image: url(https://static.xx.fbcdn.net/images/emoji.php/v9/f4c/1/16/1f642.png);
    color: red;
}

.header {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
}

.red {
    color: red;
}

.cat {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    float: right;
}

.tag {
    background-color: burlywood;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

p {
    text-align: right;
}


/* h1 {
    background-color: lightpink;
}

.red {
    color: tomato;
}

#test {
    color: white;
    background-color: palevioletred;
}

h1 {
    background-color: black;
}

.text {
    background-color: deeppink;
} */