@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');

@font-face {
    font-family: Gleb;
    src: url('./SketchGothicSchool.ttf')
}

.container {
    width: 800px;
    margin: auto;
    border: 1px solid black;
}

.logo {
    float: left;
    font-family: Gleb;
    font-weight: normal;
}

.blog {
    float: right;
}

.menu {
    background-color: red;
    height: 70px;
    clear: both;
}

.menu div {
    height: 100%;
    float: left;
    /* width: calc(50% - 20px); */
    width: 50%;
    background-color: green;
    font-size: 30px;
    color: white;
    border: 3px solid black;
    padding: 10px;
    box-sizing: border-box;
    /* overflow: scroll; */
    /* overflow-y: scroll; */
    font-family: 'ZCOOL KuaiLe', cursive;
}