<h1>My name: {{name}}</h1>
<h2>2 + 3: {{2 + 3}}</h2>



<!-- <h2>5</h2>
<button (click)="onPlusClick()">+</button>
<button (click)="onMinusClick()">-</button>
<h2>8</h2>
<h2>=</h2>
<h2>{{result}}</h2> -->



<!-- <input type="text" value="{{number1}}">
<button (click)="onPlusClick()">+</button>
<button (click)="onMinusClick()">-</button>
<input type="number" value="{{number2}}">
<span>= {{result}}</span> -->




<!-- <input type="number" [(ngModel)]="number1">
<button (click)="onPlusClick()">+</button>
<button (click)="onMinusClick()">-</button>
<input type="number" [(ngModel)]="number2">
<span>= {{result}}</span> -->




<!-- <input type="number" [(ngModel)]="number1">
<button (click)="onOperationClick('+')">+</button>
<button (click)="onOperationClick('-')">-</button>
<button (click)="onOperationClick('*')">*</button>
<button (click)="onOperationClick('/')">/</button>
<input type="number" [(ngModel)]="number2">
<span>= {{result}}</span> -->




<input type="number" [(ngModel)]="number1">
<select [(ngModel)]="symbol" (change)="onOperationSelect()">
  <option value="+">+</option>
  <option value="-">-</option>
  <option value="*">*</option>
  <option value="/">/</option>
</select>
<input type="number" [(ngModel)]="number2">
<span>= {{result}}</span>


