body {
    margin: 0;
}

.container {
    display: flex;

    form {
        width: 50%;
        padding: 20px;

        input {
            width: 100%;
        }
    }

    #result {
        width: 50%;
        background-color: whitesmoke;
        padding: 20px;
    }
}