body {
  margin: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container form {
  width: 50%;
  padding: 20px;
}

.container form input {
  width: 100%;
}

.container #result {
  width: 50%;
  background-color: whitesmoke;
  padding: 20px;
}
/*# sourceMappingURL=style.css.map */