﻿@model ToDoItem

<form enctype="multipart/form-data" method="post" asp-action="AddTask">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="Enter task name">
        <span asp-validation-for="Name" class="form-text text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" rows="5" class="form-control" placeholder="Enter task description"></textarea>
        <span asp-validation-for="Description" class="form-text text-danger"></span>
    </div>
    <input type="file" accept=".jpg,.jpeg,.png,.gif" name="taskImage" class="w-100 mb-3" placeholder="Enter task name">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>



@*@using (Html.BeginForm("AddTask", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Name")
        @Html.TextBox("Name")
        @Html.ValidationMessage("Name")
    </div>

    <div class="form-group">
        @Html.Label("Description")
        @Html.TextBox("Description")
        @Html.ValidationMessage("Description")
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}*@



@*<form method="post" action="/Home/AddTask">
        <div class="form-group">
            <label for="taskName">Task name: </label>
            <input name="Name" type="text" class="form-control" id="taskName" placeholder="Enter task name">
        </div>
        <div class="form-group">
            <label for="taskDesc">Task description: </label>
            <textarea name="Description" type="password" rows="5" class="form-control" id="taskDesc" placeholder="Enter task description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>*@
