.container {
    width: 1000px;
    // height: 500px;
    border: 1px solid black;
    margin: auto;

    display: grid;
    // grid-template-columns: 40px 50px auto 50px 40px;
    // grid-template-columns: 1fr 2fr 3fr 1fr; 
    // grid-template-columns: repeat(4, 150px);
    // grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 200px 300px 200px;

    // grid-auto-rows: 50px;
    // grid-auto-columns: 50px;
    // grid-auto-flow: column;

    // grid-column-gap: 10px;
    // grid-row-gap: 20px;

    // justify-items: center;
    // align-items: center;
    justify-content: center;
    align-content: center;
}

.box {
    // background-color: red;
    border: 1px solid black;
    color: white;
    font-size: 30px;
    // width: 100px;
    // height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.red { 
    background-color: red; 
    // grid-column-start: 2;
    // grid-column-end: 5;
    // grid-row-start: 1;
    // grid-row-end: 3;
    grid-column: 2 / 5;
    grid-row: 1 / 3;
}

.green { 
    background-color: green; 
}

.blue { 
    background-color: blue;
}

.magenta { 
    background-color: magenta;
}

.cyan { 
    background-color: cyan; 
}

.yellow { 
    background-color: yellow; 
}