.container {
  width: 1000px;
  border: 1px solid black;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 200px 300px 200px;
      grid-template-rows: 200px 300px 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.box {
  border: 1px solid black;
  color: white;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.red {
  background-color: red;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.magenta {
  background-color: magenta;
}

.cyan {
  background-color: cyan;
}

.yellow {
  background-color: yellow;
}
/*# sourceMappingURL=style.css.map */