<div class="row">
  <div class="col-md-6">
    <h4 class="my-4">In progress:</h4>
    <div class="list-group">
      <div *ngFor="let item of tvShows | doneFilter:false" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{item.title}}</h5>
          <small>Rating: {{item.rating}}</small>
        </div>
        <p class="mb-1">Season: {{item.season}}</p>
        <p class="mb-1">Episode: {{item.episode}}</p>
        <i class="fas fa-trash text-danger" (click)="onDelete(item.id)"></i>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4 class="my-4">Done:</h4>
    <div class="list-group">
      <div *ngFor="let item of tvShows | doneFilter:true" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{item.title}}</h5>
          <small>Rating: {{item.rating}}</small>
        </div>
        <p class="mb-1">Season: {{item.season}}</p>
        <p class="mb-1">Episode: {{item.episode}}</p>
      </div>
    </div>
  </div>
</div>