<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
        <app-task-list></app-task-list>
    </div>
    <div class="col-md-6">
        <app-contact-list></app-contact-list>
    </div>
  </div>
</div>




