<div class="container my-5">
  <h1>New task: {{newTaskName}}</h1>

  <div class="input-group mb-3">
    <input type="text" [(ngModel)]="newTaskName" class="form-control" placeholder="Task name...">
    <div class="input-group-append">
      <button [disabled]="newTaskName == ''" (click)="addNewTask()" class="btn btn-outline-secondary" type="button">Add</button>
    </div>
  </div>

  <div class="card">
    <ul class="list-group list-group-flush">
      <li (click)="changeTask(item)" class="list-group-item" *ngFor="let item of tasks">
        {{item.name}}
        <span class="icons">
            <i *ngIf="!item.isDone" class="fas fa-times"></i>
            <i *ngIf="item.isDone" class="fas fa-check text-success"></i>
            <i (click)="deleteTask(item)" class="fas fa-trash text-danger"></i>
        </span>
      </li>
    </ul>
  </div>
</div>