.cat {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.box {
  width: 100%;
  height: 200px;
  background-color: red;
  border: 2px solid black;
  margin: 15px 0;
}

.card {
  border: none;
  border-radius: 0;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.navbar-brand img {
  height: 25px;
}
/*# sourceMappingURL=style.css.map */