.cat {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.box {
    width: 100%;
    height: 200px;
    background-color: red;
    border: 2px solid black;
    margin:  15px 0;
}

.card {
    border: none;
    border-radius: 0;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(1);
}

// .carousel {
//     height: 400px;

//     .carousel-inner {
//         height: 100%;
//     }
// }

.navbar-brand img {
    height: 25px;
}

// .row > div {
//     padding: 0;
// }