.box {
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: green;
    color: white;
    transition: 1s;
}