.box {
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: green;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}
/*# sourceMappingURL=style.css.map */