.container {
    width: 1000px;
    margin: auto;
    font-size: 25px;
    font-family: Segoe UI;
    color: white;
}

.header {
    width: 100%;
    height: 100px;
    background-color: red;
}

.header img {
    width: 80px;
    height: 80px;
    padding: 10px;
}

.menu {
    width: 100%;
    height: 50px;
    background-color: blue;
}

.menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.menu ul li {
    float: left;
    background: palevioletred;
    height: 34px;
    padding: 8px;
    margin-right: 10px;
    width: 150px;
}

.left-panel {
    width: 20%;
    height: 1000px;
    background-color: black;
    float: left;
}

.main {
    width: 60%;
    height: 1000px;
    background-color: tomato;
    float: left;
}

.right-panel {
    width: 20%;
    height: 1000px;
    background-color: magenta;
    float: left;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: pink;
    clear: both;
}

.left-panel ul {
    list-style: decimal;
}