$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$dark-blue: #333745;
$light-blue: #77C4D3;
$light: #DAEDE2;
$yellow: #F6F792;
$red: #EA2E49;

body {
    font-size: 30px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    // width: 1200px;
    width: 100%;
    max-width: 1200px;
    margin: auto;

    header {
        width: 100%;
        height: 150px;
        background-color: $dark-blue;
        color: white;
    }
    
    main {
        display: flex;
        flex-wrap: wrap;

        section {
            padding: 10px;
            width: 70%;
            background-color: $light;
            box-sizing: border-box;
            font-size: 18px;

            img {
                width: 300px;
            }
        }

        aside {
            width: 30%;
            background-color: $light-blue;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            img {
                width: 100%;
                padding: 10px 0;
                object-fit: cover;
                box-sizing: border-box;
            }
        }

        @media (max-width: $md) {
            section {
                width: 100%;
            }

            aside {
                width: 100%;
                flex-direction: row;

                img {
                    width: 33.33%;
                    height: 150px;
                    padding: 0 10px;
                }
            }
        }

        @media (max-width: $sm) {
            aside img {
                width: 100%;
                padding: 10px 0;
            }
        }
    }
    
    footer {
        width: 100%;
        height: 100px;
        background-color: $dark-blue;
        color: white;
    }
}

.box {
    background-image: url(http://www.catster.com/wp-content/uploads/2017/08/A-fluffy-cat-looking-funny-surprised-or-concerned.jpg);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    transition: 0.5s;

    &:hover {
        transition: 0.5s;
        transform: scale(2) rotate(90deg) translate(100px, -50px);
        // transform: rotateY(180deg);
        // transform: skew(100deg); 
        // transform: matrix3d(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16);
        // transform: translate(100px, -50px);
    } 
}

* {
    background: rgba(59,52,247,1);
    background: linear-gradient(to bottom, rgba(59,52,247,1) 0%, rgba(59,52,247,1) 13%, rgba(246,41,12,1) 28%, rgba(246,41,12,1) 49%, rgba(246,41,12,1) 70%, rgba(0,255,9,1) 84%, rgba(0,255,9,1) 100%);
    box-shadow: 16px 20px 84px 17px rgba(0,0,0,0.75);
    &:hover {
        transition: 5s;
        //transform: scale(2);
        transform: rotate(5rad);
    } 
}


// body {
//     background-color: red;
// }

// @media (max-width: $xl) {
//     body {
//         background-color: blue;
//     }    
// }

// @media (max-width: $lg) {
//     body {
//         background-color: green;
//     }    
// }

// @media (max-width: $md) {
//     body {
//         background-color: cyan;
//     }    
// }

// @media (max-width: $sm) {
//     body {
//         background-color: magenta;
//     }    
// }