body {
  font-size: 30px;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.container header {
  width: 100%;
  height: 150px;
  background-color: #333745;
  color: white;
}

.container main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container main section {
  padding: 10px;
  width: 70%;
  background-color: #DAEDE2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
}

.container main section img {
  width: 300px;
}

.container main aside {
  width: 30%;
  background-color: #77C4D3;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container main aside img {
  width: 100%;
  padding: 10px 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  .container main section {
    width: 100%;
  }
  .container main aside {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container main aside img {
    width: 33.33%;
    height: 150px;
    padding: 0 10px;
  }
}

@media (max-width: 576px) {
  .container main aside img {
    width: 100%;
    padding: 10px 0;
  }
}

.container footer {
  width: 100%;
  height: 100px;
  background-color: #333745;
  color: white;
}

.box {
  background-image: url(http://www.catster.com/wp-content/uploads/2017/08/A-fluffy-cat-looking-funny-surprised-or-concerned.jpg);
  background-position: center;
  background-size: 300px;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.box:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(2) rotate(90deg) translate(100px, -50px);
          transform: scale(2) rotate(90deg) translate(100px, -50px);
}

* {
  -webkit-transition: 5s;
  transition: 5s;
  background: #3b34f7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3b34f7), color-stop(13%, #3b34f7), color-stop(28%, #f6290c), color-stop(49%, #f6290c), color-stop(70%, #f6290c), color-stop(84%, #00ff09), to(#00ff09));
  background: linear-gradient(to bottom, #3b34f7 0%, #3b34f7 13%, #f6290c 28%, #f6290c 49%, #f6290c 70%, #00ff09 84%, #00ff09 100%);
  -webkit-box-shadow: 16px 20px 84px 17px rgba(0, 0, 0, 0.75);
          box-shadow: 16px 20px 84px 17px rgba(0, 0, 0, 0.75);
}

*:hover {
  -webkit-transition: 5s;
  transition: 5s;
  -webkit-transform: rotate(5rad);
          transform: rotate(5rad);
}
/*# sourceMappingURL=style.css.map */