body {
    height: 4000px;
    background-image: url(./tesla-cat.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: red;
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 1s;
}

#test {
    position: sticky;
    top: 0px;
    /* right: 10px;
    bottom: 50px; */
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    background-color: blueviolet;
}

.box:hover {
    background-color: green;
    transition: 1s;
}

.box:active {
    background-color: blue;
    transition: 1s;
}

.image {
    width: 400px;
    height: 250px;
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255,234,0,0);
    transition: 1s;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.overlay:hover {
    background-color: rgba(255,234,0, 0.5);
    transition: 1s;
    opacity: 1;
}

.buttons {
    width: 100px;
    height: 50px;
    background-color: white;
    position: absolute;
    bottom: -50px;
    left: 0;
    transition: 1s;
}

.overlay:hover .buttons {
    bottom: 0;
    transition: 1s;
}