body {
    background-color: whitesmoke;
}

.container {
    margin: 100px auto;
    width: 800px;
    background-color: white;
}

header {
    background-color: pink;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.logo {
    font-size: 45px;
}

.title {
    font-size: 45px;
}

nav {
    background-color: palevioletred;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
    font-size: 30px;
    justify-content: flex-start;
    padding: 0;
    margin: 0px;
}

nav ul li {
    padding: 10px;
}

main {
    /* border: 5px solid black; */
    /* height: 500px; */
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

section {
    /* height: 500px; */
    width: 70%;
    background-color: aquamarine;
} 

aside {
    height: 500px;
    width: 30%;
    background-color: tomato;
}

article {
    padding: 10px;
    border: 1px solid black;
}

article img {
    height: 200px;
}