﻿@{
    ViewData["Title"] = "Home Page";
}

<!-- slider area start -->
<section class="slider-area">
    <div class="hero-slider-active slick-arrow-style slick-arrow-style_hero slick-dot-style">
        <!-- single slider item start -->
        <div class="hero-single-slide ">
            <div class="hero-slider-item bg-img" data-bg="main/assets/img/slider/home1-slide1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-slider-content slide-1">
                                <h4>sale offer 10% off this week</h4>
                                <h1>canvas cross back</h1>
                                <h2>apron collection</h2>
                                <a href="shop.html" class="btn-hero">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- single slider item end -->
        <!-- single slider item start -->
        <div class="hero-single-slide">
            <div class="hero-slider-item bg-img" data-bg="main/assets/img/slider/home1-slide2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-slider-content slide-2">
                                <h4>sale offer 20% off this week</h4>
                                <h1>serving dishes</h1>
                                <h2>& mugs</h2>
                                <a href="shop.html" class="btn-hero">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- single slider item start -->
        <!-- single slider item start -->
        <div class="hero-single-slide">
            <div class="hero-slider-item bg-img" data-bg="main/assets/img/slider/home1-slide3.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-slider-content slide-3">
                                <h4>sale offer 50% off this week</h4>
                                <h1>linen oven gloves</h1>
                                <h2>in the kitchen</h2>
                                <a href="shop.html" class="btn-hero">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- single slider item start -->
    </div>
</section>
<!-- slider area end -->