body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#player {
    width: 100px;
    height: 100px;
    background-image: url(./player.png);
    background-size: 100%;
    position: absolute;
    transition: 0.5s cubic-bezier(0, 0, 0, 1);
    z-index: 100;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));

    &:hover {
        cursor: none;
    }
}

#score {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    z-index: 999;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid black;
    padding: 20px;
}

.food {
    width: 50px;
    height: 70px;
    background-image: url(./iska.png);
    background-size: 100%;
    background-position: center;
    display: inline-block;
    position: absolute;
    transition: 0.5s;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
}