.container {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.box {
    background-color: red;
    width: 100px;
    height: 100px;
    border: black 1px solid;
    padding: 20px;
    font-size: 25px;
    color: white;
    box-sizing: border-box;
}