@import 'variables';

@mixin yellowBox {
    border: 2px solid black;
    border-radius: 5px;
    background-color: $main-color;
}

@mixin box($backgroundColor, $borderColor: black) {
    border: 2px solid $borderColor;
    border-radius: 5px;
    background-color: $backgroundColor;
}

@mixin align($orientation: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $orientation;
    justify-content: $justify;
    align-items: $align;
}

body {
    background-color: white;
}

nav {
    background-color: white;

    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;

        li {
            @include yellowBox;
        }
    }
}

.box {
    width: 100px;
    height: 100px;
    @include box(red);
    //@include align(row, center, center);
    @include align;
}